
body {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #414141;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main2 styles */

.main2 {
    box-shadow: 6px 6px 20px rgb(126, 126, 126);
    padding: 105px 90px;
    background-color: rgb(255, 255, 255);
}

/* saidbare styles */

.sidebar {
    background-color: rgb(0, 0, 0);
    box-shadow: 6px 6px 20px rgb(0, 0, 0);
    padding-top: 40px;
    width: 370px;
}

.title {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}

/* about styles */

.about {
   margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #000000;
margin-bottom: 25px;
}

.about-description {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
width: 400px;
}

/* project styles */

.project {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 50px;
}

.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-list {
    padding: 0;
    margin-left: 17px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */

.work {
    
}

.position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work {
    padding: 0;
    margin-left: 17px;
}

.work2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.organisation {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #11ca00;
}

/* education styles */

.education {
    
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title {
    color: rgb(253, 253, 253);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact {
    margin-left: 40px;
}

.contact {
    margin-bottom: 50px;
}

.tech-skills {
    margin-left: 40px;
}

.soft-skills {
    margin-left: 40px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.tech-skils-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.soft-skils-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.tech-skils-item {
    color: #11ca00;
}

.tech-skils-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

